<h1><%=title %></h1>

<form method="POST" action="/users">
  <label for="name">Name:</label>
  <input name="name" aria-label="name" type="text" />
  <label for="message">Message:</label>
  <input name="message" aria-label="message" type="text" />
  <input type="submit" value="Submit" />
</form>
